@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: linear-gradient(180deg, dodgerblue, #267ADD); */
    background-color: dodgerblue;
    font-family: 'Fredoka One', cursive;
}

.bigDiv{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(3,90px);
    gap: 12px;
    justify-content: center;
}

.cell{
    box-shadow: 2px 2px 3px rgb(192, 192, 192);
    background-color: white;
    border-radius: 5px;
}
h1{
    text-shadow:  1px 1px 4px rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
    color: black;
    font-size: 92px;
    color: #FAB201;
    -webkit-text-stroke: 5px white; 
}
p{    
    font-family: "Fredoka One", sans-serif;
    margin-top: 90px;
    text-align: center;
    font-size: 2.0em;
    color: white;
    font-weight: bolder;
}

